/* ==============  Interactive Infographic created by aidanminton.co.uk - 2016    ============== */

@font-face {
  font-family: 'Brown-Light';
  src: url('/lyst/fonts/Brown-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Brown-Regular';
  src: url('/lyst/fonts/Brown-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Brown-Bold';
  src: url('/lyst/fonts/Brown-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}


a {
  color: #fff !important;
}


a:hover {
  color: #fff!important;
}


::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


textarea {
  resize: vertical;
}


body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}


.title-main {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-top: 175px;
  background-color: #000;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: uppercase;
  ft: ;
  */: ;
  float: left;
  text-align: center;
  margin-left: 10px;
}


.title-main a {
  color: #fff;
  -webkit-transition: 0.5s ease-in;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
}


.title-main a:hover {
  color: #b440ae;
  cursor: pointer;
  text-decoration: none;
}


.letter-container {
  height: 410px;
  color: #fff;
  font-size: 160px;
  border: 6px #fff solid;
  overflow: hidden !important;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: 4.5s ease-out;
  cursor: pointer;
  background-size: cover !important;
  background-position: center center !important;
}


.letter-container:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transition: 0.5s ease-in;
}


.media-heading {
  color: #fff;
  margin-left: 20px;
  font-size: 30px;
  text-align: center;
}


.media-object.img-thumbnail {
  margin-top: 29px;
}


.media-heading {
  margin-top: 20px !important;
  font-weight: 100;
  text-transform: none;
  letter-spacing: 3px;
  font-family: 'Brown-Bold', sans-serif;
}


.head-image {
  background: url('/lyst/img/header-img.png');
  background-color: #000;
  background-position: center top;
  height: 280px;
  background-repeat: no-repeat;
  border-left: 6px #fff solid;
  border-right: 6px #fff solid;
}


.lyst-logo {
  float: right;
}


.letter-container-title {
  font-size: 120px;
  font-family: 'Brown-Bold', sans-serif;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 2s linear;
  margin-top: 260px;
}


.letter-container:hover .letter-container-title {
  visibility: hidden;
  opacity: 0;
}


.letter-container:hover .letter-expand {
  visibility: visible;
  opacity: 1;
}


.letter-expand {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}


.letter-expand p {
  font-size: 11px;
  margin: 10px 20px;
  line-height: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: left;
  font-family: 'Brown-Light', sans-serif;
}


.letter-expand h3 {
  font-size: 38px;
  margin: 20px 18px 4px 16px;
  font-family: 'Brown-Bold', sans-serif;
  font-weight: bold;
  line-height: 36px;
}


.letter-expand a {
  font-size: 16px;
  margin: 20px 20px 0px 20px;
  float: left;
}


.tc {
  color: #000;
  display: inline;
  width: 100%;
  text-align: center;
  float: right;
  padding: 10px 0px;
}


footer {
  background-color: #000;
  height: auto;
  background-repeat: no-repeat;
  border-left: 6px #fff solid;
  border-right: 6px #fff solid;
  padding: 20px 0px;
}


footer p {
  border: none !important;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #fff;
  font-size: 14px !important;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-family: 'Brown-Light', sans-serif;
}


#big-outline {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}


.letter-expand .btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #222;
}


.letter-expand .btn-primary:hover {
  color: #fff;
  background-color: #222;
  border-color: #000;
}


@font-face {
  font-family: 'Brown-Regular';
  src: url('/lyst/fonts/Brown-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Brown-Bold';
  src: url('/lyst/fonts/Brown-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

a {color: #fff !important}
a:hover {color: #fff!important}


::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.title-main{
    color: #fff;
    font-size: 16px;
    display: block;;
    width: 100%;
    margin-top: 175px;
    background-color: #000;;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;;
    ft: ;;
    */: ;
    float: left;
    text-align: center;
    margin-left: 10px;;}

.title-main a {

    color: #fff;
    -webkit-transition: 0.5s ease-in;

    border-bottom: 1px solid #fff;

    padding-bottom: 1px;
}

.title-main a:hover{
color: #b440ae;
cursor: pointer;
text-decoration: none;

}

.letter-container {
    height: 410px;;
    color: #fff;
    font-size: 160px;
    border: 6px #fff solid;
    overflow: hidden !important;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: 4.5s ease-out;
    cursor: pointer;
    background-size: cover !important; /* Firefox 3.5+ */
    background-position: center center !important;
}
.letter-container:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: 0.5s ease-in;
}
.media-heading {
    color: #fff;
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}
.media-object.img-thumbnail {
    margin-top: 29px;
}
.media-heading {
    margin-top: 20px !important;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Brown-Bold', sans-serif;;
}
.head-image {
    background: url('/lyst/img/header-img.png');
    background-color: #000;
    background-position: center top;
    height: 280px;
    background-repeat: no-repeat;
    border-left: 6px #fff solid;
    border-right: 6px #fff solid;
}
.lyst-logo {
    float: right;
}
.letter-container-title {
    font-size: 120px;
    font-family: 'Brown-Bold', sans-serif;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 2s linear;
    margin-top: 260px;
}
.letter-container:hover .letter-container-title {
    visibility: hidden;
    opacity: 0;
}
.letter-container:hover .letter-expand {
    visibility: visible;
    opacity: 1;
}
.letter-expand {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
.letter-expand p {
    font-size: 11px;
    margin: 10px 20px;
    line-height: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Brown-Light', sans-serif;

}
.letter-expand h3 {
font-size: 38px;
    margin: 20px 18px 4px 16px;
    font-family: 'Brown-Bold', sans-serif;
    font-weight: bold;
    line-height: 36px;
}
.letter-expand a {
    font-size: 16px;
    margin: 20px 20px 0px 20px;
    float: left;
}
.tc {
    color: #000;
    display: inline;
    width: 100%;
    text-align: center;
    float: right;
    padding: 10px 0px;
}
footer {
    background-color: #000;
    height: auto;
    background-repeat: no-repeat;
    border-left: 6px #fff solid;
    border-right: 6px #fff solid;
    padding: 20px 0px;
}
footer p {
    border: none !important;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: #fff;
    font-size: 14px !important;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-family: 'Brown-Light', sans-serif;
}

#big-outline{
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;

}

.letter-expand .btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #222;
}

.letter-expand .btn-primary:hover {
    color: #fff;
    background-color: #222;
    border-color: #000;
}


@font-face {
  font-family: 'Brown-Light';
  src: url('/lyst/fonts/Brown-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}